{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<br>
<br>

<form method="POST" enctype="multipart/form-data" action="{% url 'crowling' %}">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="text" name="search" placeholder="검색어를 입력하세요">
    <input type="submit" value="submit" class="btn btn-info" role="button">
</form>
<br>


<!-- <a href="{{musinsa_image_name}}"></a> -->
{%for m in musinsa%}
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/media/{{m.musinsaImage}}" alt="...">
        <div class="caption">
          <h5>상품 이름 : {{m.musinName}}</h5>
          <p>가격 : {{m.musinPrice}}</p>
          <p action="POST" name="searchtitle">검색어 : {{m.search_musinsa}}</p>
          <p><a href="{% url 'add_cart' m.id %}" class="btn btn-primary" role="button">장바구니담기</a>  <a href="{{m.musinsaUrl}}" class="btn btn-primary" role="button">상품 보러가기</a></p>
          
        </div>
      </div>
    </div>
  </div>

{% endfor %}
{% endblock %}